.conatiner {
    text-align: center;
    margin-left: 20px;
    Margin-top:20px;
    margin-right: 20px;
}

.btn {
    margin-right: 5px;
}

.heading {
    margin-left: 20px;
}

.login {
    margin-left: 140px;
    Margin-top:40px;
    margin-right: 140px;
}